.airline-tile {
  background-color: #ffffff;
  place-self: stretch stretch;
  border-radius: 8px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04), 0 3px 6px 0 rgba(25, 32, 36, 0.16);
}

.airline-tile:hover {
  border: 1px solid #363f45;
}
